<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper green darken-1">
      <a href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="">Learn</a></li>
        <li><a href="">Why</a></li>
        <li><a href="">How</a></li>
      </ul>
    </div>
</nav>
</div>
<section class="container valign-wrapper bigHeight">
  <section class="row valign">
    <section class="col s12 m6">
      <h2>Pack Accordingly.</h2>
    </section>
    <section class="col s12 m6">
      <form><!-- action="/wolf" method="post">-->
        <div class="col s6 m6">
          <label for="origin">origin:</label>
          <input ng-model="origin" type="text" name="origin" placeholder="Oxford" />
        </div>
        <div class="col s6 m6">
          <label for="dest">destination:</label>
          <input ng-model="destination" type="text" name="dest" placeholder="Leeds" />
        </div>
        <div class="col s6 m6">
          <label for="fdate">from:</label>
          <input ng-model="fromDate" type="date" name="fdate" />
        </div>
        <div class="col s6 m6">
          <label for="todate">to:</label>
          <input ng-model="toDate" type="date" name="tdate" />
        </div>
        <div class="right">
          <button ng-click="gatherData()" type="submit">Submit</button>
        </div>
      </form>
    </section>
  </section>
</section>
<section class="green darken-1 bigHeight information">
  <!--<section class="container">-->
  <section class="row">
    <div class="col s12 m4">
      <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur veniam ut laborum aliquam quia eius explicabo praesentium, dolorem amet provident illo ad error, tempora cum, harum sequi delectus consectetur cupiditate.</p>
    </div>
    <div class="col s12 m4">
      <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At nam sapiente tempora nihil nisi, ex repellat, quod asperiores quae expedita fugit aliquid excepturi odit, incidunt iste, explicabo modi. Nisi, quae.</p>
    </div>
    <div class="col s12 m4">
      <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur veniam ut laborum aliquam quia eius explicabo praesentium, dolorem amet provident illo ad error, tempora cum, harum sequi delectus consectetur cupiditate.</p>
    </div>
  </section>
  <!--</section>-->
</section>
