<div class="navbar-fixed">
  <nav class="center">
    <div class="nav-wrapper light-green darken-1">
      <a href="/" class="center white-text appName">Trip Wolf</a>
    </div>
</nav>
</div>
<section class="white bigHeight information">
  <section class="container">
  <section class="row">
    <div ng-show="loading" class="col s12 m6">
      <div class="center">
        <div class="preloader-wrapper big active loading">
          <div class="spinner-layer spinner-yellow-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="noFare" class="col s12 m6">
      <h4>No fare found</h4>
    </div>
    <div ng-show="fareFound" class="col s12 m6">
      <h4>Train Tickets</h4>
      <section class="ticketTable">
        <table class="bordered striped">
          <thead>
            <tr>
              <th data-field="type">Type</th>
              <th data-field="name">Name</th>
              <th data-field="price">Price</th>
            </tr>
          </thead>
          <section class="test">
            <tbody>
              <tr ng-repeat="ticket in tickets">
                <td>{{ ticket.ticket.type.desc }}</td>
                <td>{{ ticket.ticket.longname }}</td>
                <td>{{ ticket.adult.fare/100 | currency: "£" }}</td>
              </tr>
            </tbody>
          </section>
        </table>
      </section>
    </div>
    <div ng-show="noTemp" class="col s12 m6">
      <h4>No weather information found</h4>
    </div>
    <div ng-show="tempFound" class="col s12 m6">
      <h4>Weather</h4>
      </br>
      <section ng-scope="tempHigh">
        <p>The average high temperature during your trip is:</br>
        <span class="tripTemp">{{ tempHigh }} degrees</span></p>
      </section>
      <section ng-scope="tempLow">
        <p>The average low temperature during your trip is:</br>
        <span class="tripTemp">{{ tempLow }} degrees</span></p>
      </section>
      <section ng-scope="tempImage">
        <img ng-src="{{ tempImage }}" />
      </section>
    </div>
  </section>
  </section>
</section>
